<h3>{{model.name}}</h3>
<p class="text-lead">{{model.desc}}</p>

<h4>Activities</h4>
{{#each activity in activities}}
  {{activity-details model=activity}}
{{else}}
  No plans yet.
{{/each}}


<h4>Lodging</h4>
