<div class="container">
  <div class='row'>
    <div class='col-md-3'>
      <div class='h4 strong row-space-1 col-sm-12'>{{country.name}} Cities</div>
      <div class="list-group">
        {{#each city in sortedCities}}
          {{#link-to 'country.city' city.id classNames='list-group-item'}}
          <div {{action "hover" city on="mouseEnter"}} class='item-name'>
            {{city.name}}
          </div>
          {{/link-to}}
        {{/each}}
      </div>
    </div>
    
    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>
