<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Brooke &amp; Mike's European Vacation!</h2>
      <p class='text-lead'>A demo travel plans website, utilizing Ember CLI, google Maps API, and Ruby on Rails.</p>
    </div>

    <div class="col-xs-6">
      <img src='assets/national-lampoon.jpg' alt='national lampoon european vacation' width='300px' height='auto' />
    </div>
    <div class="col-xs-6">
      {{create-place}}
    </div>

  </div>
</div>
