<div class='navbar navbar-default'>
  <div class='container'>
    {{#link-to 'index' class="navbar-brand"}}
      <div class="h3">Vacation Plans</div>
    {{/link-to}}

    <ul class='nav navbar-nav navbar-right'>
      {{#each country in model}}
        {{#link-to 'country' country.name tagName='li' class="text-uppercase"}}
          {{country.name}}
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>
