<div class="container-fluid">
  <div class='text-center'>
  <h3>Brooke &amp; Mike's European Vacation!</h3>
  <p class='text-lead'>A demo travel plans website, utilizing Ember CLI, google Maps API, and (hopefully) Ruby on Rails.</p>

  <img src='assets/images/national-lampoon.jpg' alt='national lampoon european vacation' width='300px' height='auto' />
  </div>
</div>
